<nav>
    <ul>
        <li><a href="{{ url('app_main') }}">Home</a></li>
        <li><a href="{{ url('app_list') }}">Souhaits</a></li>
        <li><a href="{{ url('app_contact') }}">A propos</a></li>

        <li><a href="">Login</a></li>
    </ul>
</nav>