<nav>
    <ul>
        <li><a href="{{ url('app_main') }}">Home</a></li>
        <li><a href="">Articles</a></li>
        <li><a href="">Contact-us</a></li>
        <li><a href="">Login</a></li>
    </ul>
</nav>