{% extends 'base.html.twig' %}
{% block stylesheets %} {% endblock %}

{% block title %}A propos{% endblock %}


{% block body %}
    <div>
        <h2>A propos de nous</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias consectetur debitis distinctio doloremque dolores est placeat reprehenderit saepe ut?
           Accusamus corporis fugit laudantium, magni perspiciatis quas quidem   rerum voluptatibus!</p>
    </div>



{% endblock %}
