{% extends 'base.html.twig' %}
{% block stylesheets %} {% endblock %}

{% block title %}Home{% endblock %}


{% block body %}
    <div>
        <article>
            <h2>Ma liste de souhaits</h2>

            {%  for key, wish in wishes %}
                <p><a href="{{ path('app_details', {'id': key}) }}">{{ wish }}</a></p>
            {% endfor %}


        </article>
    </div>



{% endblock %}
