{% extends './base.html.twig' %}

{% block title %}Wish create{% endblock %}
{% block body %}
    <h1>Création d'un souhait</h1>
    <p>Le souhait nommé {{ wish.title }} avec sa description est {{ wish.description }} a bien été crée en BDD.</p>

{% endblock %}