<div class="navbar navbar-light bg-light">
    <a class="navbar-brand">
        <img src="{{ asset('assets/img/logo.png') }}" alt="Logo du site ressamblant à un sceau rempli" class="d-inline-block align-top">
        <strong>Bucket List</strong>
    </a>

</div>
