<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/img/favicon.png') }}">
        {% block stylesheets %} {% endblock %}
        {% block javascripts %} {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="top-left-header">
                {% include('common/header/header.html.twig') %}
            </div>
            <div>
                {% include('common/navigation/navigation.html.twig') %}
            </div>

        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            {% include('common/footer/footer.html.twig') %}
        </footer>
    </body>


</html>
